Body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1;
    padding: 1;
    background-color: black;

}
header{
    background-color: aqua;
    color: #daa32d;
    padding: 1em;
    text-align: center;
}
main{   
        padding: 1em;
    
}
button{
    padding: 0.5 1em;
    background-color: crimson;
    color: blanchedalmond;
    border: none;
    cursor: printer;

}
button{
    background-color: cyan;
    color: #2314a7;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
}